<strong>Olá, {{ deliveryman }} </strong>
<p>Há um pedido para entrega, confira os detalhes abaixo:</p>

<p>
  <strong>Produto:</strong> {{ product }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />
  <strong>Destinatário: </strong>

  <p>
    Rua: {{ street }}, {{ number }} na cidade de: {{ city }}
    no estado de {{ state }} com o cep {{ zipcode }} e complemento: {{ complement }}
  </p>

  <br />
  <br />

  <small>
    O produto já está disponível para a retirada.
  </small>
</p>
